<div id="page-contents">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="contact-us" style="margin-top: 0px;">
          <div class="row">
            <div class="col-md-8 col-sm-7">
              <h4 class="grey">Giriş Yap</h4>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "contact-form" }) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <i class="icon ion-email"></i>
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email *", required: "required" %>
                </div>
                <div class="form-group">
                  <i class="icon ion-android-call"></i>
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Şifre" %>
                </div>
                <% if devise_mapping.rememberable? -%>
                  <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end -%>
                <button class="btn-primary">Giriş Yap</button>
                <%= render "devise/shared/links" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
